<div class="logged-out">
    <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/assets/images/logout_image.jpeg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Logged Out</h5>
    <p class="card-text">Hope you have a great day! Log back in anytime to write more blog posts :)</p>
    <a href="/" class="btn btn-primary">Back to Home</a>
  </div>
    </div>
</div>

<script src="/js/logout.js"></script>