      <form class="new-blog-post">
        <div class="form-group">
          <label for="exampleTitle">Title</label>
          <input class="form-control" id="exampleTitle" placeholder="The Hidden Secrets of Tech">
        </div>
        <div class="form-group">
          <label for="exampleBlogText">Blog Text</label>
          <textarea class="form-control" id="exampleBlogText" rows="3"></textarea>  
        </div>
        <div class="form-group">
          <label for="exampleKeyPhrase">Key Phrase</label>
          <input class="form-control" id="exampleKeyPhrase" placeholder="Don't use cookies!">
        </div>
        <button type="submit" class="btn btn-primary create-post">Create Post</button>
      </form>

<script src="/js/newpost.js"></script>